.container {
  height: 4rem;
  background-color: var(--var-card-dark);
  margin-bottom: 1.5rem;
  padding: 0 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  margin: 1rem;
}

.logo {
  height: 2rem;
}

.containerLogo {
  display: flex;
  gap: 1rem;
}
