@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
@import '../src/styles/mixins.scss';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

a {
  color: inherit;
}

:root {
  /* Primary */
  --var-soft-blue: hsl(215, 51%, 70%);
  --var-cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;

  /* Fonts */
  --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
  --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
  --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;

  --default-font-size: 15px;
}

:root {
  font-size: var(--default-font-size);
}

h1 {
  font: var(--var-heading);
  color: var(--var-lightest);
}

h2 {
  font: var(--var-small-heading);
  color: var(--var-lightest);
}

p,
a {
  font: var(--var-para);
  color: var(--var-soft-blue);
}

span {
  color: white;
}

body {
  background-color: var(--var-main-darkest);
  @include responsive-font(18px);
}

button {
  font: var(--var-para);
}
