<div class="backdrop"></div>
<dialog open class="form-container">
  <h1 class="heading">Add Book</h1>

  <form class="form">
    <div class="form-group">
      <label for="name">Book Name</label>
      <input
        required=""
        placeholder="Enter the book name"
        name="name"
        id="name"
        type="text"/>
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        required=""
        placeholder="Enter the image URL"
        name="image"
        id="image"
        type="url"
        value="https://picsum.photos/200/300" />
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input
        required=""
        placeholder="Enter the genre"
        name="genre"
        id="genre"
        type="text"/>
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      <input
        required=""
        placeholder="Enter the author's name"
        name="author"
        id="author"
        type="text" />
    </div>

    <div class="form-group">
      <label for="publishData">Publish Date</label>
      <input
        required=""
        placeholder="Enter the publish date"
        name="publishData"
        id="publishData"
        type="date" />
    </div>

    <div class="form-group">
      <label for="price">Price (in cents)</label>
      <input
        required=""
        placeholder="Enter the price in dollars"
        name="price"
        id="price"
        type="number" />
    </div>
    <div class="form-buttons">
      <button type="cancel" class="form-btn">Cancel</button>
      <button type="submit" class="form-btn">Submit</button>
    </div>
  </form>
</dialog>